<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
<link rel="shortcut icon" href="https://www.moodle.aau.dk/theme/image.php/aalborg/theme/1528108766/favicon" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'studentrisk/jquery-ui-1.12.1/jquery-ui.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'studentrisk/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'studentrisk/style.css' %}" />
<title>Student Retention</title>
</head>
<body>
<div class="table-branding">
{% if student_list %}
  <div class="head-navigation" id="head-navigation">
  <img src="{% static 'studentrisk/logo.svg' %}" alt="AAU Student Analytics" id="AnalyticsLogo" class="head-control"/>
  <form action="" method="post">
    {% csrf_token %}
    <select id="dataset" class="head-control" name="dataset">
    {% for cohort in cohort_list %}
      {% for sem in semester_list %}
        <option value="{{cur_study}},{{cohort.startaar}},{{sem.modelsemester}}" {% if sem.modelsemester|floatformat == cur_sem|floatformat %}selected="selected"{% endif %}>{{ cur_study }} Cohort {{ cohort.startaar }} Semester {{ sem.modelsemester }}</option>
      {% endfor %}
    {% endfor %}
  </select>
</form>
  <input id="aauSearchField"  placeholder="Search.." aria-controls="mytable" type="search">
  <ul class="table-aggregates head-control" id="aggregate-info">
    <li><span class="counter">{{ student_count }}</span><br /> students</li>
    <li><span class="counter">{{ students_at_risk }}</span><br /> at risk</li>
    <li><span class="counter">{{ dropout_count }}</span><br /> dropouts</li>
    <li>Last update:<br />{{ last_update|date:"d-M-Y"|default:"Unknown" }}</li>
  </ul>
  </div>
  <div id="status" class="nochange"></div>
  <table id="mytable" class="dropout-table order-column" >
      <thead>
        <tr id="table-header">
          <th><img src="{% static 'studentrisk/checkmark.svg' %}" alt="checkmark" id="checkmark"/></th>
          <th></th>
          <th>Comment</th>
          <th>E-mail</th>
          <th>Indskrivelsesperiode</th>
          <th>Adgangsgrundlag</th>
          <th>Status</th>
          <th id="studie  nr" title="">name</th>
          <th id="name" title="">study no.</th>
          <th id="name" title="">campus</th>
          <th id="risk" title=""><strong>risk</strong></th>
          {% for predictor in predictor_list %}
            <th id="{{ predictor.nameshort }}" title="">{{ predictor.nameshort }}</th>
          {% endfor %}
        </tr>
      </thead>
    <tbody>
    {% for student in student_list %}
      <tr class="studentRow" style="background: {{ student.get_bgcolor }};">
        <td class="statuscol"><input type="checkbox" class="checkbox" studienr="{{ student.studienr }}" {% if student.checked %} checked {% endif %} autocomplete="off"></input></td>
        <td class="{% if student.comment %}hascomment{% endif %} clickexpand statuscol"></td>
        <td><textarea rows="6" cols="40" class="commentfield" studienr="{{ student.studienr }}" autocomplete="off">{{ student.comment }}</textarea></td>
        <td>{{ student.email }}</td>
        <td>{{ student.fra_dato }} - {{ student.til_dato }}</td>
        <td>{{ student.adgangsgrundlag|default:"Unknown" }}</td>
        <td>{% if student.udmeld_aarsag %} Dropout - {{ student.udmeld_begrundelse }} {% else %} Active {% endif %}</td>
        <td class="clickexpand" >{{ student.fullname }}</td>
        <td class="clickexpand">{{ student.studienr }}</td>
        <td class="clickexpand">{{ student.campusname }}</td>
        <td class="clickexpand"><strong>{% if student.udmeld_aarsag %} Dropout {% else %} {{ student.risk|floatformat:"-2"|default:"Unknown" }} {% endif %}</strong></td>
        {% if pred_count >= 1 %} <td class="clickexpand">{{ student.p1|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 2 %} <td class="clickexpand">{{ student.p2|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 3 %} <td class="clickexpand">{{ student.p3|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 4 %} <td class="clickexpand">{{ student.p4|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 5 %} <td class="clickexpand">{{ student.p5|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 6 %} <td class="clickexpand">{{ student.p6|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 7 %} <td class="clickexpand">{{ student.p7|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 8 %} <td class="clickexpand">{{ student.p8|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 9 %} <td class="clickexpand">{{ student.p9|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 10 %} <td class="clickexpand">{{ student.p10|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 11 %} <td class="clickexpand">{{ student.p11|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 12 %} <td class="clickexpand">{{ student.p12|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 13 %} <td class="clickexpand">{{ student.p13|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 14 %} <td class="clickexpand">{{ student.p14|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 15 %} <td class="clickexpand">{{ student.p15|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 16 %} <td class="clickexpand">{{ student.p16|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 17 %} <td class="clickexpand">{{ student.p17|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 18 %} <td class="clickexpand">{{ student.p18|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 19 %} <td class="clickexpand">{{ student.p19|default:"Empty" }}</td> {% endif %}
        {% if pred_count >= 20 %} <td class="clickexpand">{{ student.p20|default:"Empty" }}</td> {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No students are available</p>
{% endif %}
</div>
</body>
<footer>
  <p>AALBORG UNIVERSITY STUDENT ANALYTICS BY BASTIAN ILSØ HOUGAARD, BIANCA CLAVIO CHRISTENSEN,
    HENDRIK KNOCHE AND NINNA VIHRS. BASED ON MIT-LICENSED DJANGO WEB FRAMEWORK AND DATATABLES.NET.</p>
</footer>
<script type="text/javascript" src="{% static 'studentrisk/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'studentrisk/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script type = "text/javascript">
$(function() {
  {%  for predictor in predictor_list %}
    $("#{{ predictor.nameshort }}").tooltip({
    content: "<strong>Risk Predictor</strong><br />"+
             "<em>p-value &#61; {{ predictor.pvalue|default_if_none:"Unknown" }}<br />"+
             "exp. coef. &#61; {{ predictor.exp_coef_field|default_if_none:"Unknown" }}<br />"+
             "Origin: {{ predictor.source|default:"Unknown" }}<br /></em>"+
             "{{ predictor.explanation }} <br />",
    track: true
  });
  {% endfor %}

  $("#risk").tooltip({
  content: "<strong>Dropout Risk</strong><br />The predicted risk that the student drops out.",
  track: true
  });

  $("#dataset").selectmenu({
    change: function( event, ui ) {
      event.preventDefault();
      this.form.submit();
    }
  });

});

/* Formatting function for row details - modify as you need */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="studentDetails">'+
        '<tr>'+
            '<td>E-mail:</td>'+
            '<td><a href="mailto:'+d.email+'">'+d.email+'</a></td>'+
        '</tr>'+
        '<tr>'+
            '<td>Enrolled:</td>'+
            '<td>'+d.indskriv+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Access:</td>'+
            '<td>'+d.adgang+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Status:</td>'+
            '<td>'+d.udmeld+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Comment:</td>'+
            '<td>'+d.comment+'</td>'+
        '</tr>'+
    '</table>';
}


$(document).ready(function() {
    oTable = $('#mytable').DataTable( {
        "autoWidth": false,
        "fixedHeader": true,
        "paging":   false,
        "info":     false,
        "orderClasses": false,
        "order": [[5, 'asc']],
        buttons: [
            'csv',
            {
            extend: 'pdf',
            orientation: 'landscape',
            exportOptions: {
              columns: ':visible'
            }
            }
        ],
        "processing": true,
        "columnDefs": [
            {
                "targets": [ 1 ],
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            {
                "targets": [ 2 ],
                "visible": false,
                "searchable": false,
                "data": "comment"
            },
            {
                "targets": [ 3 ],
                "visible": false,
                "searchable": false,
                "data": "email"
            },
            {
                "targets": [ 4 ],
                "visible": false,
                "searchable": false,
                "data": "indskriv"
            },
            {
                "targets": [ 5 ],
                "visible": false,
                "searchable": false,
                "data": "adgang"
            },
            {
                "targets": [ 6 ],
                "visible": false,
                "searchable": false,
                "data": "udmeld"
            },
        ],
    });



    oTable.buttons(0, null).containers().appendTo('#head-navigation');
    // Add event listener for opening and closing details
    $('#mytable tbody').on('click', 'td.clickexpand', function () {
        var tr = $(this).closest('tr');
        var row = oTable.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            $(this).parent('tr').removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            $(this).parent('tr').addClass('shown');

            var timeoutId;
            $('.commentfield').on('keyup', function() {
              if ($(this).val()) {
                tr.children('td').eq(1).addClass('hascomment');
              } else {
                tr.children('td').eq(1).removeClass('hascomment');
              }
              $('#status').text('saving changes..');
              if (timeoutId) clearTimeout(timeoutId);
              data = {
                      'comment': $(this).val(),
                      'studienr': $(this).attr("studienr")
                    };
              timeoutId = setTimeout(function () {
                  $.ajax({
                      url: '/ajax/update_comment',
                      data: data
                  });
                  $('#status').text('');
              }, 750);
            });
        }
    } );

  $('.checkbox').change(function () {
    var state = $(this).is(':checked');
    var studienr = $(this).attr("studienr");
    $('#status').text('saving changes..');
    $.ajax({
      url: '/ajax/update_checkbox/',
      data: {
        'state': state,
        'studienr': studienr
      },
      dataType: 'json',
      success: function (data) {
        if (data.success) {
          $('#status').text('');
        }
      }
    })
  });

  $('#aauSearchField').keyup(function(){
      oTable.search($(this).val()).draw();
  });

} );

</script>
</html>
