/*--------------------------------------------------------------
Bastian's Styling
--------------------------------------------------------------*/
table.dataTable {
  margin: 0 0 0.75em 0;
}

.dataTables_filter {
  visibility: hidden;
  display: none;
}

.login-form {
    border: 0.15em solid #151b27;
    max-width:40em;
    padding: 2em;
    margin: 5em auto;

}

.hascomment {
    background: no-repeat center center url("comment.svg");
}

.login-form .branding {
    display: block;
    overflow: auto;
    margin-bottom: 2em;
}

.login-form label, .login-form input {
    margin: 0.5em;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 6px 1em 6px .4em;
}

.ui-selectmenu-button.ui-button {
  width: min-content;
  height: 2.75em;
  line-height: 2.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #0a2147;
  background: none;
  box-sizing: border-box;
  outline: none;
  padding: .4em 2em .4em .4em;
}

.ui-selectmenu-button.ui-button {
    width: max-content;
    min-width: 25em;
}
.ui-selectmenu-button.ui-button {
    text-align: left;
    white-space: nowrap;
    width: min-content;
}
a {
  color: #0a2147;
}

.dt-buttons {
  height: 2.75em;
}

.head-navigation button.dt-button {
  color: #0a2147;
  background: url("download.svg") no-repeat 5px center;
  padding-left: 2em;
  border: 0;
  line-height: 2.1em;
}

.head-navigation button.dt-button:hover {
  color: #0a2147;
  background: url("download.svg") no-repeat 5px center;
  border: 0;
  text-decoration: underline;
}

.ui-icon-triangle-1-s {
    background-image: url("dropdown.svg") !important;
    background-position: 0 !important;
    width: 16px;
    height: 31px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-button:hover, .ui-button:focus {
  border: 0;
}

.ui-button:hover {
    background-color: #f5f8ff;
    text-decoration: underline;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0;
    background: #0a2147;
    font-weight: normal;
    color: #fff;
}

.ui-selectmenu-button {
  border: 0;
  float: left;
}

.head-navigation {
  display: flow-root;
  margin-bottom: 0.5em;
}

p, .studentRow td, .dataTables_filter, footer, li, .ui-selectmenu-button {
  font-family: 'Arial', sans-serif;
  font-size: 1.0em;
  color: #151b27;
}

.studentRow td .checkbox, img#checkmark {
  margin: 0;
  float: right;
}

.table-aggregates li {
  display: inline-block;
  margin-right: 1em;
  clear: both;
}

.statuscol {
    width: 1em;
}

footer {
  margin-bottom: 100px;
}

.head-control {
  float: left;
  margin: 0 .4em 0 0;
  padding: 0;
}

.table-aggregates {
  margin-left: .4em;
  height: 2.75em;
  padding: 0.25em 0 0 0;
}

.counter {
  font-size: 1.5em;
}

input#aauSearchField {
  border: 0px;
  border-bottom: 1px solid #151b27;
  padding: 0.25em 0.25em 0.25em 2em;
  background-image: url("search.svg");
  background-repeat: no-repeat;
  background-position: center left 5px;
  height: 2.75em;
  width: 20em;
  margin-left: 1em;
}

table.dataTable thead .sorting_asc {
    font-weight: bold;
}

table.dataTable thead .sorting_desc {
    font-weight: bold;
}

table.dataTable thead, em, footer, .table-aggregates li, .studentDetails td, #status, .login-form, .dropouttext {
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-style: normal;
}

#status {
  display: block;
  height: 24px;
  margin-bottom: 0.5em;
}

table.dataTable thead {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
    text-align: left;
}

.ui-tooltip strong {
    text-transform: capitalize;
}

table.dataTable thead th:hover {
    background-color: #f5f8ff;
    text-decoration: underline;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: center right 0.1em;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  font-weight: bold;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0.4em 0.35em;
}

table.dataTable tbody td.clickexpand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18em;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 0.4em 0.5em;
    border-bottom: 1px solid #0a2147;
}

.table-container {
  margin: 2em 0em;
}

table.dataTable thead .sorting {
    background-image: none;
}

table.dataTable thead .sorting_asc {
    background-image: url("sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("sort_desc.png");
}

.studentRow:hover {
    cursor: pointer;
    border-top: 1px solid #151b27;
    border-bottom: 1px solid #151b27;
}

.studentRow:hover .details-control {
    background: url('expand.svg') no-repeat center center;
}

.shown .details-control, .shown:hover .details-control {
    background: url('close.svg') no-repeat center center;
}

.table-aggregates {
    clear: both;
}

.dt-buttons {
    clear: none;
}

.table-branding select.head-control {
    clear: both;
}

.ui-selectmenu-button {
  border: 0;
  clear: both;
}

@media all and (min-width: 64em) {
    .table-aggregates {
        clear: both;
    }

    .dt-buttons {
        clear: none;
    }

    .ui-selectmenu-button {
      border: 0;
      float: left;
      clear: none;
    }

    #aauSearchField {
        float: right;
    }
}


@media all and (min-width: 87em) {
    .table-aggregates {
      clear: none;
    }
    .dt-buttons {
      clear: both;
    }
}


@media all and (min-width: 99em) {
    .table-aggregates {
      clear: none;
    }

    .dt-buttons {
      clear: none;
    }
}
